:root {
  --theme-color: #ffc700;
  /* --second-color: #ffffff; */

  --background-first: #181818;
  --background-elements: #f2f3f3;
  --background-scale: #3bde7c;

  --background-button-active: radial-gradient(50% 50% at 50% 50%, #ffc700 0%, #ffc700 100%);
  --background-button: #dadada;

  --background-call: #eb1b00;
  --background-table: #1c2741;

  --text-primary: #ffffff;
  /* --text-secondary: #ffc700; */

  --text-navigate: #f4ce0c;

  --text-button-active: #0d0c11;
  --text-button: #8e8e8e;

  --text-first: #272727;
  --text-second: #181818;

  /* --text-third: #f2f3f3; */

  --text-finaly: #3bde7c;
  --text-footer: rgba(255, 255, 255, 0.5);

  --font-primary: 'Roboto', sans-serif;
  --font-title: 'Yeseva One', cursive;
  --font-text: 'PT Serif', serif;
  --font-text-secondary: 'Merriweather', serif;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  transition: color var(--transition), background-color var(--transition);
}

button {
  border: none;
  transition: color var(--transition), background-color var(--transition);
}

.button-not-active {
  background: var(--background-button);
  color: var(--text-button);
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.button-active {
  width: 189px;
  height: 41px;
  font-family: var(--font-text-secondary);
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  border-radius: 20px;

  background: var(--background-button-active);
  color: var(--text-button-active);
  box-shadow: none;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  /* font-size: 14px; */
  font-family: var(--font-primary), sans-serif;
  /* letter-spacing: 0.03em; */
  /* color: var(--text-primary); */
  background-color: #e5e5e5;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 320px) {
}

.container {
  width: 320px;
  margin: 0 auto;
}

/* =========== HEADER =========== */

header {
  background: var(--background-first);
}

.header.open .menu {
  transform: translateX(100%);
}

.menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 320px;
  background: var(--background-first);
  padding: 110px 100px 348px 23px;

  transition: var(--transition);
}

.menu__list {
  display: block;
}
.menu__iteam {
  margin-top: 27px;
}

.menu__link {
  max-width: 197px;
  padding: 10px 0px;
  color: var(--text-primary);
}

.menu__link:hover {
  color: var(--theme-color);
}

.header__burger-btn {
  position: relative;
  border: none;
  background: none;
  z-index: 2;
}

/* =========== HERO =========== */

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../images/Starry_sky_hero_bg.png');
  background-size: cover;
  background-position: center;
}

/* .hero {
}
.container {
}
.hero__pre-title {
}
.hero__title {
}
.hero__button {
}
.hero__text {
}
.hero__button-dropdown {
} */
