:root {
  --theme-color: #ffc700;

  --background-first: #181818;
  --background-elements: #f2f3f3;
  --background-scale: #3bde7c;

  --background-button-active: radial-gradient(50% 50% at 50% 50%, #ffc700 0%, #ffc700 100%);
  --background-button: #dadada;

  --background-call: #eb1b00;
  --background-table: #1c2741;

  --text-primary: #ffffff;

  --text-navigate: #f4ce0c;

  --text-button-active: #0d0c11;
  --text-button: #8e8e8e;

  --text-first: #272727;
  --text-second: #181818;

  /* --text-third: #f2f3f3; */

  --text-finaly: #3bde7c;
  --text-footer: rgba(255, 255, 255, 0.5);

  --font-primary: 'Roboto', sans-serif;
  --font-title: 'Yeseva One', cursive;
  --font-text: 'PT Serif', serif;
  --font-text-secondary: 'Merriweather', serif;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  transition: color var(--transition), background-color var(--transition);
}

button {
  all: unset;
  border: none;
  transition: color var(--transition), background-color var(--transition);
}

.button-not-active {
  background: var(--background-button);
  color: var(--text-button);
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.button-active {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 189px;
  height: 41px;
  font-family: var(--font-text-secondary);
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1em;
  border-radius: 20px;

  background: var(--background-button-active);
  color: var(--text-button-active);
  box-shadow: none;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-primary), sans-serif;
  background-color: #e5e5e5;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 320px) {
}

.container {
  max-width: 320px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
}

/* =========== HEADER =========== */

header {
  position: relative;
  background: var(--background-first);
  width: 100%;
  height: 46px;
  z-index: 2;
}

.header.close-menu .menu {
  transform: translateY(-100%);
}

.menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  /* height: 548px; */
  background: var(--background-first);
  padding: 110px 100px 348px 23px;

  transition: var(--transition);
}

.menu__list {
  display: block;
}
.menu__iteam:not(:first-child) {
  margin-top: 27px;
}

.menu__link {
  max-width: 197px;
  padding: 10px 0px;
  color: var(--text-primary);
}

.menu__link:hover,
:focus {
  color: var(--theme-color);
}

.burger-btn {
  position: relative;
  border: none;
  background: none;
}

.burger-btn__open {
  position: relative;
  top: 12px;
  left: 10px;
  /* margin: 17px 0px 13px 15px; */
  padding: 5px;
}

.burger-btn__close {
  position: absolute;
  left: 279px;
  top: 18px;

  /* fill: var(--text-primary); */
  transition: opacity var(--transition), transition var(--transition);
  z-index: 1;
}

/* .burger-btn__close:hover {
  fill: var(--theme-color);
} */

.burger-btn__close.hidden {
  opacity: 0;
  pointer-events: none;
}

/* =========== HERO =========== */

.hero {
  position: relative;
  height: 522px;
  background-image: url('../images/Starry_sky_hero_bg.png');
  background-size: cover;
  background-position: left top;
  z-index: 1;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__pre-title {
  margin: 22px 0px;
  text-align: center;
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: var(--text-primary);
}

.hero__title {
  margin-bottom: 150px;

  text-align: center;
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: var(--theme-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero__button {
  margin-bottom: 22px;
  /* display: flex;
  justify-content: center; */
  /* text-align: center; */
}

.hero__text {
  margin-bottom: 15px;

  font-family: var(--font-text);
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--theme-color);
}

.hero__text span {
  color: var(--text-primary);
}

.hero__button-dropdown {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 8px;
  line-height: 11px;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--text-primary);

  transition: transform var(--transition);
}

.hero__button-dropdown img {
  transform: rotate(180deg);
}

.hero__button-dropdown.active img {
  transform: rotate(0deg);
}

/* .hero__button-dropdown:hover {
  font-weight: 700;
} */

/* =========== INFO =========== */

.info {
  transition: opacity var(--transition), transform var(--transition);
  z-index: 0;
}

.info.close-info {
  transform: translateY(-100%);
  opacity: 0;
  /* display: none; */
}

.info__content-glow {
  height: 339px;
  background: url('../images/Blue_Stain.png'), url('../images/glow_bg.png');
}

.info__quotes-up {
  position: relative;
  top: 43px;
  left: 24px;
}

.info__text-glow {
  margin-top: 60px;
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.05em;

  color: var(--text-primary);
}

.info__quotes-down {
  position: relative;
  left: 270px;
}

.info__content-brain {
  position: relative;
  height: 511px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--text-primary);
}

.info__text-brain {
  padding: 38px 11px;
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;

  color: var(--text-first);
}

.info__text-brain span {
  font-weight: 700;
  text-transform: uppercase;
}

.info__img-brain {
  position: absolute;
  top: 256px;
  left: 44px;
}

.info__button {
  margin-top: 162px;
}

.info__content-lightning {
  height: 533px;
  overflow: hidden;
  background-image: url('../images/Starry_sky_bg.png');
}

.info__pretext-lightning {
  padding: 56px 51px 14px 14px;
  font-family: var(--font-text-secondary);
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.05em;

  color: var(--text-primary);
}

.info__pretext-lightning span {
  color: var(--theme-color);
}

.info__text-lightning {
  margin: 0px 12px 30px 12px;
  padding: 30px 0px 30px 14px;
  font-family: var(--font-text-secondary);
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.05em;

  color: var(--text-second);

  background: rgba(243, 243, 242, 0.8);
  border-radius: 20px;
}

.info__text-lightning span {
  font-weight: 700;
}

.info__button-lightning {
  margin: 0 64px;
  background: none;
  color: var(--text-primary);

  border: 1px solid var(--text-primary);
}

.info__copyright {
  margin-top: 52px;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 10px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.05em;

  color: rgba(255, 255, 255, 0.5);
}
